<!-- Footer -->
<div class="home-footer">
    <div class="home-wrapper">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <div class="osLight footer-header">Triad Real Estate Group</div>
                <ul class="footer-nav pb20">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Properties</a></li>
                    <li><a href="#">Meet The Team</a></li>
                    <li><a href="blog.html">Community</a></li>
                    <li><a href="#">Resources</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <div class="osLight footer-header">Discover San Luis Obispo</div>
                <ul class="footer-nav pb20">
                    <li><a target="_blank" href="http://visitslo.com/places-to-stay/">Places To Stay</a></li>
                    <li><a target="_blank" href="http://www.weather.com/weather/today/l/San+Luis+Obispo+CA+USCA1000:1:US">Local Weather</a></li>
                    <li><a target="_blank" href="http://www.visitsanluisobispocounty.com/events">Events Calendar</a></li>

                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="osLight footer-header">Get in Touch</div>
                <ul class="footer-nav pb20">
                    <li class="footer-phone"><span class="fa fa-phone"></span> 805.544.5500</li>
                    <li class="footer-phone"><span class="fa fa-envelope-o"></span> info@triadslo.com</li>
                    <li class="footer-address osLight">
                        <p>2436 Broad Street</p>
                        <p>San Luis Obispo CA, 93401</p>
                        <p>United States</p>
                    </li>
                    <li><a href="https://www.facebook.com/triad.slo" target="_blank" class="btn btn-sm btn-icon btn-round btn-o btn-white"><span class="fa fa-facebook"></span></a>
                      <a href="https://twitter.com/search?q=TriadREGroup&src=typd" target="_blank" class="btn btn-sm btn-icon btn-round btn-o btn-white"><span class="fa fa-twitter"></span></a>
                      <a href="https://www.pinterest.com/triadslo/" target="_blank" class="btn btn-sm btn-icon btn-round btn-o btn-white"><span class="fa fa-pinterest"></span></a>
                      <a href="http://www.linkedin.com/in/triadrealestateslo" target="_blank" class="btn btn-sm btn-icon btn-round btn-o btn-white"><span class="fa fa-linkedin"></span></a>
                      <a href="https://instagram.com/triadrealestategroup/" target="_blank" class="btn btn-sm btn-icon btn-round btn-o btn-white"><span class="fa fa-instagram"></span></a>
                      <a href="http://www.houzz.com/pro/rodessan/triad-real-estate-and-investment-group" target="_blank" class="btn btn-sm btn-icon btn-round btn-o btn-white"><span class="fa fa-houzz"></span></a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="osLight footer-header">Visit Us In Our Office</div>
                <form role="form">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Enter Your Location">
                    </div>
                    <div class="form-group">
                        <a href="#" class="btn btn-green btn-block">Get Directions</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="copyright">Triad Real Estate Group<br> &copy; 2015</div>
    </div>
</div>
