<div class="home-header">
    <img class='home-logo' src='/static/images/triad_white.png'></img>
    <a href="#" class="home-navHandler visible-xs"><span class="fa fa-bars"></span></a>
    <div class="home-nav">
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li class='drop'>
              <a href="{% url 'listings' %}">Properties</a>
              <ul class='nav-dropdown'>
                <li><a href="{% url 'listings' %}">Our Listings</a></li>
                <li><a href="{% url 'searchListings' %}">Search Listings</a></li>
                <li><a href="{% url 'searchForclosures' %}">Search Forclosures</a></li>
              </ul>
            </li>
            <li><a href="{% url 'agents' %}">Meet The Team</a></li>
            <li class='drop'>
              <a>Community</a>
              <ul class='nav-dropdown'>
                <li><a href="{% url 'bestOf' %}">Triad's Best Of SLO</a></li>
                <li><a href="http://www.weather.com/weather/today/l/San+Luis+Obispo+CA+USCA1000:1:US">Local Weather</a></li>
                <li><a href="http://www.visitsanluisobispocounty.com/events">Events Calendar</a></li>
              </ul>
            </li>
            <li class='drop'>
              <a>Resources</a>
              <ul class='nav-dropdown'>
                <li>
                  <a href="http://www.mortgagecalculator.org/" target="_blank">MORTGAGE CALCULATOR</a>
                </li>
              </ul>
            </li>
            <li><a href="{% url 'contactus' %}">Contact Us</a></li>
        </ul>
    </div>
</div>

<script>
  $(document).ready(function(){
    $(".drop").hover(function(){
      $(this).find(".nav-dropdown").fadeIn(100);
    }, function(){
      $(this).find(".nav-dropdown").fadeOut(100);
    });
  });
</script>
