<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <title>Triad Real Estate Group</title>

        <link href="/static/css/font-awesome.css" rel="stylesheet">
        <link href="/static/css/simple-line-icons.css" rel="stylesheet">
        <link href="/static/css/jquery-ui.css" rel="stylesheet">
        <link href="/static/css/datepicker.css" rel="stylesheet">
        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <link href="/static/css/app.css" rel="stylesheet">
        <link href="/static/css/custom.css" rel="stylesheet">
        <script src="/static/js/jquery-2.1.1.min.js"></script>
        <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : 'your-app-id',
          xfbml      : true,
          version    : 'v2.3'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="notransition">

        <!-- Header -->
        <div id="header">
            <div class="logo">
              <a href="{% url 'listings' %}">
                  <span class="fa fa-arrow-left marker"></span>
                  <span class="logoText">Go Back</span>
              </a>
            </div>
            <div class='icon-wrap'>
            <a href="https://www.facebook.com/triad.slo" target="_blank" class="btn btn-sm btn-icon btn-round btn-o btn-black"><span class="fa fa-facebook"></span></a>
            <a href="https://twitter.com/search?q=TriadREGroup&src=typd" target="_blank" class="btn btn-sm btn-icon btn-round btn-o btn-black"><span class="fa fa-twitter"></span></a>
            <a href="https://www.pinterest.com/triadslo/" target="_blank" class="btn btn-sm btn-icon btn-round btn-o btn-black"><span class="fa fa-pinterest"></span></a>
            <a href="http://www.linkedin.com/in/triadrealestateslo" target="_blank" class="btn btn-sm btn-icon btn-round btn-o btn-black"><span class="fa fa-linkedin"></span></a>
            <a href="https://instagram.com/triadrealestategroup/" target="_blank" class="btn btn-sm btn-icon btn-round btn-o btn-black"><span class="fa fa-instagram"></span></a>
            <a href="http://www.houzz.com/pro/rodessan/triad-real-estate-and-investment-group" target="_blank" class="btn btn-sm btn-icon btn-round btn-o btn-black"><span class="fa fa-houzz"></span></a>
          </div>
            <div class="clearfix"></div>
        </div>

        <!-- Content -->
        <div id="wrapper">
            <div id="mapView" class="mob-min"><div class="mapPlaceholder"><span class="fa fa-spin fa-spinner"></span> Loading map...</div></div>
            <div id="content" class="mob-max">
                <div class="singleTop">
                    <div id="carouselFull" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                          {% for listing in listings %}
                            {% for album in gallery %}
                              {% if listing.gallery.title == album.title %}
                                {% for photo in album.photos.all %}
                                    {% if forloop.counter0 == 0 %}
                                    <li data-target="#carouselFull" data-slide-to="{{forloop.counter0}}" class="active"></li>
                                    {% else %}
                                    <li data-target="#carouselFull" data-slide-to="{{forloop.counter0}}"></li>
                                    {% endif %}
                                {% endfor %}
                              {% endif %}
                            {% endfor %}
                          {% endfor %}
                        </ol>
                        <div class="carousel-inner">
                        {% if listings %}
                        {% for listing in listings %}
                          {% for album in gallery %}
                            {% if listing.gallery.title == album.title %}
                              {% for photo in album.photos.all %}
                                  {% if forloop.counter0 == 0 %}
                                  <div class="item active">
                                  {% else %}
                                  <div class="item">
                                  {% endif %}
                                      <img id="{{photo.slug}}" class='slide-img' src="/media/{{photo.image}}" alt="First slide">
                                      <div class="container">
                                          <div class="carousel-caption">

                                          </div>
                                      </div>
                                  </div>
                              {% endfor %}
                            {% endif %}
                          {% endfor %}
                        {% endfor %}
                        {% endif %}
                        </div>
                        <a class="left carousel-control" href="#carouselFull" role="button" data-slide="prev"><span class="fa fa-chevron-left"></span></a>
                        <a class="right carousel-control" href="#carouselFull" role="button" data-slide="next"><span class="fa fa-chevron-right"></span></a>
                    </div>
                    {% for listing in listings %}
                    <script>
                      function commaSeparateNumber(val){
                        while (/(\d+)(\d{3})/.test(val.toString())){
                          val = val.toString().replace(/(\d+)(\d{3})/, '$1'+','+'$2');
                        }
                        return val;
                      }

                      $(document).ready(function(){
                        var cost = {{listing.cost}};
                        var formatted = commaSeparateNumber(cost);
                        $('#cost').text('$' + formatted);
                      });
                    </script>
                    <div class="summary">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="summaryItem">
                                    <h1 class="pageTitle">{{listing.title}}</h1>
                                    <div class="address"><span class="icon-pointer"></span> {{listing.title}}</div>
                                    {% if listing.mls %}
                                    <div class="address">MLS #: {{listing.mls}}</div>
                                    {% endif %}
                                    <div class="address cap">Listing Status: {{listing.status}}</div>
                                    <div class='wrap-right'>
                                      <h1 class='big-price' id='cost'></h1>
                                    </div>
                                    <div class="clearfix"></div>

                                    <ul class="features">
                                        <li><span class="fa fa-moon-o"></span><div>{{listing.bedrooms}} Bedrooms</div></li>
                                        <li><span class="icon-drop"></span><div>{{listing.bathrooms}} Bathrooms</div></li>
                                        <li><span class="icon-frame"></span><div>{{listing.square_feet}} Sq Ft</div></li>
                                        <li><span class="icon-size-fullscreen"></span><div>{{listing.acres}} Acres</div></li>
                                    </ul>
                                    <div class='row' style='margin-bottom:20px;'>
                                      {% if listing.virtual_tour and listing.request_button == 'yes' %}
                                      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <div class="agentAvatar summaryItem">
                                            <a href="{{listing.virtual_tour}}" target="_blank" class="btn btn-lg btn-round btn-green contactBtn">Virtual Tour</a>
                                        </div>
                                      </div>
                                      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                          <div class="agentAvatar summaryItem">
                                              <a data-toggle="modal" href="#contactAgent" class="btn btn-lg btn-round btn-green contactBtn">Request Showing</a>
                                          </div>
                                      </div>
                                      {% elif listing.virtual_tour == "" and listing.request_button == 'yes' %}
                                          <div class="agentAvatar summaryItem">
                                              <a data-toggle="modal" href="#contactAgent" class="btn btn-lg btn-round btn-green contactBtn" style='width:300px;'>Request Showing</a>
                                          </div>

                                      {% elif listing.virtual_tour and listing.request_button == 'no' %}
                                          <div class="agentAvatar summaryItem">
                                            <a href="{{listing.virtual_tour}}" target="_blank" class="btn btn-lg btn-round btn-green contactBtn" style='width:300px;' >Virtual Tour</a>
                                          </div>
                                      {% endif %}

                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="description">
                    <h3>Description</h3>
                    <p>{{listing.info}}</p>
                </div>
                <div class="amenities">
                    <h3>Amenities</h3>
                    <div class="row">
                        {% if listing.garage == 'yes' %}
                          <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem"><span class="fa fa-car"></span> Garage</div>
                        {% elif listing.garage == 'no' %}
                          <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem inactive"><span class="fa fa-car"></span> Garage</div>
                        {% endif %}

                        {% if listing.outdoor_pool == 'yes' %}
                          <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem"><span class="fa fa-tint"></span> Outdoor Pool</div>
                        {% elif listing.outdoor_pool == 'no' %}
                          <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem inactive"><span class="fa fa-tint"></span> Outdoor Pool</div>
                        {% endif %}

                        {% if listing.garden == 'yes' %}
                          <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem"><span class="fa fa-leaf"></span> Garden</div>
                        {% elif listing.garden == 'no' %}
                          <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem inactive"><span class="fa fa-leaf"></span> Garden</div>
                        {% endif %}

                        {% if listing.security_system == 'yes' %}
                          <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem"><span class="fa fa-shield"></span> Security System</div>
                        {% elif listing.security_system == 'no' %}
                          <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem inactive"><span class="fa fa-shield"></span> Security System</div>
                        {% endif %}

                        {% if listing.air_conditioning == 'yes' %}
                          <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem"><span class="fa fa-asterisk"></span> Air Conditioning</div>
                        {% elif listing.air_conditioning == 'no' %}
                          <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem inactive"><span class="fa fa-asterisk"></span> Air Conditioning</div>
                        {% endif %}

                        {% if listing.heating == 'yes' %}
                          <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem"><span class="fa fa-sun-o"></span> Heating</div>
                        {% elif listing.heating == 'no' %}
                          <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem inactive"><span class="fa fa-sun-o"></span> Heating</div>
                        {% endif %}

                        {% if listing.fireplace == 'yes' %}
                          <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem"><span class="fa fa-fire"></span> Fireplace</div>
                        {% elif listing.fireplace == 'no' %}
                          <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem inactive"><span class="fa fa-fire"></span> Fireplace</div>
                        {% endif %}

                        {% if listing.balcony == 'yes' %}
                          <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem"><span class="fa fa-arrow-v"></span> Balcony</div>
                        {% elif listing.balcony == 'no' %}
                          <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem inactive"><span class="fa fa-arrows-v"></span> Balcony</div>
                        {% endif %}

                        {% if listing.tv_cable == 'yes' %}
                          <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem"><span class="fa fa-desktop"></span> TV Cable</div>
                        {% elif listing.tv_cable == 'no' %}
                          <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem inactive"><span class="fa fa-desktop"></span> TV Cable</div>
                        {% endif %}

                        {% if listing.pantry == 'yes' %}
                          <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem"><span class="fa fa-th-large"></span> Pantry</div>
                        {% elif listing.pantry == 'no' %}
                          <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem inactive"><span class="fa fa-th-large"></span> Pantry</div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                </div>
            </div>
        </div>

        <div class="modal fade" id="contactAgent" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="contactLabel">Request Showing</h4>
                    </div>
                    <div class="modal-body">
                        <form class="contactForm">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 cfItem">
                                    <input type="text" placeholder="Name" class="form-control">
                                 </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 cfItem">
                                    <input type="text" placeholder="Email" class="form-control">
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 cfItem">
                                    <input type="text" placeholder="Phone Number" class="form-control">
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 cfItem">
                                    <input type="text" placeholder="Subject" class="form-control">
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cfItem">
                                    <textarea placeholder="Message" rows="3" class="form-control"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <a href="#" data-dismiss="modal" class="btn btn-round btn-o btn-gray">Close</a>
                        <a href="#" class="btn btn-round btn-green">Send message</a>
                    </div>
                </div>
            </div>
        </div>


        <script src="/static/js/jquery-ui.min.js"></script>
        <script src="/static/js/jquery-ui-touch-punch.js"></script>
        <script src="/static/js/jquery.placeholder.js"></script>
        <script src="/static/js/bootstrap.js"></script>
        <script src="/static/js/jquery.touchSwipe.min.js"></script>
        <script src="/static/js/jquery.slimscroll.min.js"></script>
        <script src="/static/js/jquery.visible.js"></script>
        <script src="http://maps.googleapis.com/maps/api/js?sensor=true&amp;libraries=geometry&amp;libraries=places" type="text/javascript"></script>
        <script src="/static/js/infobox.js"></script>
        <script src="/static/js/jquery.tagsinput.min.js"></script>
        <script src="/static/js/bootstrap-datepicker.js"></script>
        <script>
        // Custom options for map
        var options = {
                zoom : 14,
                mapTypeId : 'Styled',
                disableDefaultUI: true,
                mapTypeControlOptions : {
                    mapTypeIds : [ 'Styled' ]
                }
            };
        var styles = [{
            stylers : [ {
                hue : "#cccccc"
            }, {
                saturation : -100
            }]
        }, {
            featureType : "road",
            elementType : "geometry",
            stylers : [ {
                lightness : 100
            }, {
                visibility : "simplified"
            }]
        }, {
            featureType : "road",
            elementType : "labels",
            stylers : [ {
                visibility : "on"
            }]
        }, {
            featureType: "poi",
            stylers: [ {
                visibility: "off"
            }]
        }];

        var newMarker = null;
        var markers = [];

        // json for properties markers on map
        var props = [

        {% if allListings %}
          {% for listing in allListings %}
          {% for single in listings %}
            {% if listing.longitude %}
            {% for album in gallery %}
              {% if listing.gallery.title == album.title %}
                {% with album.photos.all|first as photo %}
          {
            title : '{{listing.title}}',
            image : '/media/{{photo.image}}',
            type : '{{listing.status}}',
            price : '${{listing.cost}}',
            address : '{{listing.title}}',
            bedrooms : '{{listing.bedrooms}}',
            bathrooms : '{{listing.bathrooms}}',
            area : '{{listing.square_feet}} Sq Ft',
            position : {
                lat : {{listing.latitude}},
                lng : {{listing.longitude}}
            },
            {% if listing.id == single.id %}
            markerIcon : "marker-red.png",
            {% else %}
            markerIcon : "marker-green.png",
            {% endif %}
            id: {{listing.id}}
        },

        {% endwith %}
      {% endif %}
    {% endfor %}
    {% endif %}
    {% endfor %}
  {% endfor %}
{% endif %}


      ];

        // custom infowindow object
        var infobox = new InfoBox({
            disableAutoPan: false,
            maxWidth: 202,
            pixelOffset: new google.maps.Size(-101, -285),
            zIndex: null,
            boxStyle: {
                background: "url('/static/images/infobox-bg.png') no-repeat",
                opacity: 1,
                width: "202px",
                height: "245px"
            },
            closeBoxMargin: "28px 26px 0px 0px",
            closeBoxURL: "",
            infoBoxClearance: new google.maps.Size(1, 1),
            pane: "floatPane",
            enableEventPropagation: false
        });

        // function that adds the markers on map
        var addMarkers = function(props, map) {
            $.each(props, function(i,prop) {
                var latlng = new google.maps.LatLng(prop.position.lat,prop.position.lng);
                var marker = new google.maps.Marker({
                    position: latlng,
                    map: map,
                    icon: new google.maps.MarkerImage(
                        '/static/images/' + prop.markerIcon,
                        null,
                        null,
                        null,
                        new google.maps.Size(36, 36)
                    ),
                    draggable: false,
                    animation: google.maps.Animation.DROP,
                });
                var infoboxContent = '<div class="infoW">' +
                                        '<div class="propImg">' +
                                            '<img src="' + prop.image + '">' +
                                            '<div class="propBg">' +
                                                '<div class="propPrice">' + prop.price + '</div>' +
                                                '<div class="propType">' + prop.type + '</div>' +
                                            '</div>' +
                                        '</div>' +
                                        '<div class="paWrapper">' +
                                            '<div class="propTitle">' + prop.title + '</div>' +
                                            '<div class="propAddress">' + prop.address + '</div>' +
                                        '</div>' +
                                        '<div class="propRating">' +
                                            '<span class="fa fa-star"></span>' +
                                            '<span class="fa fa-star"></span>' +
                                            '<span class="fa fa-star"></span>' +
                                            '<span class="fa fa-star"></span>' +
                                            '<span class="fa fa-star-o"></span>' +
                                        '</div>' +
                                        '<ul class="propFeat">' +
                                            '<li><span class="fa fa-moon-o"></span> ' + prop.bedrooms + '</li>' +
                                            '<li><span class="icon-drop"></span> ' + prop.bathrooms + '</li>' +
                                            '<li><span class="icon-frame"></span> ' + prop.area + '</li>' +
                                        '</ul>' +
                                        '<div class="clearfix"></div>' +
                                        '<div class="infoButtons">' +
                                            '<a class="btn btn-sm btn-round btn-gray btn-o closeInfo">Close</a>' +
                                            '<a href="" class="btn btn-sm btn-round btn-green viewInfo">View</a>' +
                                        '</div>' +
                                     '</div>';

                google.maps.event.addListener(marker, 'click', (function(marker, i) {
                    return function() {
                        infobox.setContent(infoboxContent);
                        infobox.open(map, marker);
                    }
                })(marker, i));

                $(document).on('click', '.closeInfo', function() {
                    infobox.open(null,null);
                });

                markers.push(marker);
            });
        }

        var map;
        var windowHeight;
        var windowWidth;
        var contentHeight;
        var contentWidth;
        var isDevice = true;

        // calculations for elements that changes size on window resize
        var windowResizeHandler = function() {
            windowHeight = window.innerHeight;
            windowWidth = $(window).width();
            contentHeight = windowHeight - $('#header').height();
            contentWidth = $('#content').width();

            $('#leftSide').height(contentHeight);
            $('.closeLeftSide').height(contentHeight);
            $('#wrapper').height(contentHeight);
            $('#mapView').height(contentHeight);
            $('#content').height(contentHeight);
            setTimeout(function() {
                $('.commentsFormWrapper').width(contentWidth);
            }, 300);

            if (map) {
                google.maps.event.trigger(map, 'resize');
            }

            // Add custom scrollbar for left side navigation
            if(windowWidth > 767) {
                $('.bigNav').slimScroll({
                    height : contentHeight - $('.leftUserWraper').height()
                });
            } else {
                $('.bigNav').slimScroll({
                    height : contentHeight
                });
            }
            if($('.bigNav').parent('.slimScrollDiv').size() > 0) {
                $('.bigNav').parent().replaceWith($('.bigNav'));
                if(windowWidth > 767) {
                    $('.bigNav').slimScroll({
                        height : contentHeight - $('.leftUserWraper').height()
                    });
                } else {
                    $('.bigNav').slimScroll({
                        height : contentHeight
                    });
                }
            }

            // reposition of prices and area reange sliders tooltip
            var priceSliderRangeLeft = parseInt($('.priceSlider .ui-slider-range').css('left'));
            var priceSliderRangeWidth = $('.priceSlider .ui-slider-range').width();
            var priceSliderLeft = priceSliderRangeLeft + ( priceSliderRangeWidth / 2 ) - ( $('.priceSlider .sliderTooltip').width() / 2 );
            $('.priceSlider .sliderTooltip').css('left', priceSliderLeft);

            var areaSliderRangeLeft = parseInt($('.areaSlider .ui-slider-range').css('left'));
            var areaSliderRangeWidth = $('.areaSlider .ui-slider-range').width();
            var areaSliderLeft = areaSliderRangeLeft + ( areaSliderRangeWidth / 2 ) - ( $('.areaSlider .sliderTooltip').width() / 2 );
            $('.areaSlider .sliderTooltip').css('left', areaSliderLeft);
        }

        var repositionTooltip = function( e, ui ){
            var div = $(ui.handle).data("bs.tooltip").$tip[0];
            var pos = $.extend({}, $(ui.handle).offset(), {
                            width: $(ui.handle).get(0).offsetWidth,
                            height: $(ui.handle).get(0).offsetHeight
                        });
            var actualWidth = div.offsetWidth;

            var tp = {left: pos.left + pos.width / 2 - actualWidth / 2}
            $(div).offset(tp);

            $(div).find(".tooltip-inner").text( ui.value );
        }

        windowResizeHandler();
        $(window).resize(function() {
            windowResizeHandler();
        });

        setTimeout(function() {
            $('body').removeClass('notransition');

            map = new google.maps.Map(document.getElementById('mapView'), options);
            var styledMapType = new google.maps.StyledMapType(styles, {
                name : 'Styled'
            });

            map.mapTypes.set('Styled', styledMapType);
            map.setCenter(new google.maps.LatLng(35.2827524,-120.6596156));
            map.setZoom(10);

            if ($('#address').length > 0) {
                newMarker = new google.maps.Marker({
                    position: new google.maps.LatLng(35.2827524,-120.6596156),
                    map: map,
                    icon: new google.maps.MarkerImage(
                        'images/marker-new.png',
                        null,
                        null,
                        // new google.maps.Point(0,0),
                        null,
                        new google.maps.Size(36, 36)
                    ),
                    draggable: true,
                    animation: google.maps.Animation.DROP,
                });

                google.maps.event.addListener(newMarker, "mouseup", function(event) {
                    var latitude = this.position.lat();
                    var longitude = this.position.lng();
                    $('#latitude').text(this.position.lat());
                    $('#longitude').text(this.position.lng());
                });
            }

            addMarkers(props, map);
        }, 300);

        if(!(('ontouchstart' in window) || window.DocumentTouch && document instanceof DocumentTouch)) {
            $('body').addClass('no-touch');
            isDevice = false;
        }

        // Header search icon transition
        $('.search input').focus(function() {
            $('.searchIcon').addClass('active');
        });
        $('.search input').blur(function() {
            $('.searchIcon').removeClass('active');
        });

        // Notifications list items pulsate animation
        $('.notifyList a').hover(
            function() {
                $(this).children('.pulse').addClass('pulsate');
            },
            function() {
                $(this).children('.pulse').removeClass('pulsate');
            }
        );

        // Exapnd left side navigation
        var navExpanded = false;
        $('.navHandler, .closeLeftSide').click(function() {
            if(!navExpanded) {
                $('.logo').addClass('expanded');
                $('#leftSide').addClass('expanded');
                if(windowWidth < 768) {
                    $('.closeLeftSide').show();
                }
                $('.hasSub').addClass('hasSubActive');
                $('.leftNav').addClass('bigNav');
                if(windowWidth > 767) {
                    $('.full').addClass('m-full');
                }
                windowResizeHandler();
                navExpanded = true;
            } else {
                $('.logo').removeClass('expanded');
                $('#leftSide').removeClass('expanded');
                $('.closeLeftSide').hide();
                $('.hasSub').removeClass('hasSubActive');
                $('.bigNav').slimScroll({ destroy: true });
                $('.leftNav').removeClass('bigNav');
                $('.leftNav').css('overflow', 'visible');
                $('.full').removeClass('m-full');
                navExpanded = false;
            }
        });

        // functionality for map manipulation icon on mobile devices
        $('.mapHandler').click(function() {
            if ($('#mapView').hasClass('mob-min') ||
                $('#mapView').hasClass('mob-max') ||
                $('#content').hasClass('mob-min') ||
                $('#content').hasClass('mob-max')) {
                    $('#mapView').toggleClass('mob-max');
                    $('#content').toggleClass('mob-min');
            } else {
                $('#mapView').toggleClass('min');
                $('#content').toggleClass('max');
            }

            setTimeout(function() {
                var priceSliderRangeLeft = parseInt($('.priceSlider .ui-slider-range').css('left'));
                var priceSliderRangeWidth = $('.priceSlider .ui-slider-range').width();
                var priceSliderLeft = priceSliderRangeLeft + ( priceSliderRangeWidth / 2 ) - ( $('.priceSlider .sliderTooltip').width() / 2 );
                $('.priceSlider .sliderTooltip').css('left', priceSliderLeft);

                var areaSliderRangeLeft = parseInt($('.areaSlider .ui-slider-range').css('left'));
                var areaSliderRangeWidth = $('.areaSlider .ui-slider-range').width();
                var areaSliderLeft = areaSliderRangeLeft + ( areaSliderRangeWidth / 2 ) - ( $('.areaSlider .sliderTooltip').width() / 2 );
                $('.areaSlider .sliderTooltip').css('left', areaSliderLeft);

                if (map) {
                    google.maps.event.trigger(map, 'resize');
                }

                $('.commentsFormWrapper').width($('#content').width());
            }, 300);

        });

        // Expand left side sub navigation menus
        $(document).on("click", '.hasSubActive', function() {
            $(this).toggleClass('active');
            $(this).children('ul').toggleClass('bigList');
            $(this).children('a').children('.arrowRight').toggleClass('fa-angle-down');
        });

        if(isDevice) {
            $('.hasSub').click(function() {
                $('.leftNav ul li').not(this).removeClass('onTap');
                $(this).toggleClass('onTap');
            });
        }

        // functionality for custom dropdown select list
        $('.dropdown-select li a').click(function() {
            if (!($(this).parent().hasClass('disabled'))) {
                $(this).prev().prop("checked", true);
                $(this).parent().siblings().removeClass('active');
                $(this).parent().addClass('active');
                $(this).parent().parent().siblings('.dropdown-toggle').children('.dropdown-label').html($(this).text());
            }
        });

        $('.priceSlider').slider({
            range: true,
            min: 0,
            max: 2000000,
            values: [500000, 1500000],
            step: 10000,
            slide: function(event, ui) {
                $('.priceSlider .sliderTooltip .stLabel').html(
                    '$' + ui.values[0].toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") +
                    ' <span class="fa fa-arrows-h"></span> ' +
                    '$' + ui.values[1].toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")
                );
                var priceSliderRangeLeft = parseInt($('.priceSlider .ui-slider-range').css('left'));
                var priceSliderRangeWidth = $('.priceSlider .ui-slider-range').width();
                var priceSliderLeft = priceSliderRangeLeft + ( priceSliderRangeWidth / 2 ) - ( $('.priceSlider .sliderTooltip').width() / 2 );
                $('.priceSlider .sliderTooltip').css('left', priceSliderLeft);
            }
        });
        $('.priceSlider .sliderTooltip .stLabel').html(
            '$' + $('.priceSlider').slider('values', 0).toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") +
            ' <span class="fa fa-arrows-h"></span> ' +
            '$' + $('.priceSlider').slider('values', 1).toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")
        );
        var priceSliderRangeLeft = parseInt($('.priceSlider .ui-slider-range').css('left'));
        var priceSliderRangeWidth = $('.priceSlider .ui-slider-range').width();
        var priceSliderLeft = priceSliderRangeLeft + ( priceSliderRangeWidth / 2 ) - ( $('.priceSlider .sliderTooltip').width() / 2 );
        $('.priceSlider .sliderTooltip').css('left', priceSliderLeft);

        $('.areaSlider').slider({
            range: true,
            min: 0,
            max: 20000,
            values: [5000, 10000],
            step: 10,
            slide: function(event, ui) {
                $('.areaSlider .sliderTooltip .stLabel').html(
                    ui.values[0].toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") + ' Sq Ft' +
                    ' <span class="fa fa-arrows-h"></span> ' +
                    ui.values[1].toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") + ' Sq Ft'
                );
                var areaSliderRangeLeft = parseInt($('.areaSlider .ui-slider-range').css('left'));
                var areaSliderRangeWidth = $('.areaSlider .ui-slider-range').width();
                var areaSliderLeft = areaSliderRangeLeft + ( areaSliderRangeWidth / 2 ) - ( $('.areaSlider .sliderTooltip').width() / 2 );
                $('.areaSlider .sliderTooltip').css('left', areaSliderLeft);
            }
        });
        $('.areaSlider .sliderTooltip .stLabel').html(
            $('.areaSlider').slider('values', 0).toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") + ' Sq Ft' +
            ' <span class="fa fa-arrows-h"></span> ' +
            $('.areaSlider').slider('values', 1).toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") + ' Sq Ft'
        );
        var areaSliderRangeLeft = parseInt($('.areaSlider .ui-slider-range').css('left'));
        var areaSliderRangeWidth = $('.areaSlider .ui-slider-range').width();
        var areaSliderLeft = areaSliderRangeLeft + ( areaSliderRangeWidth / 2 ) - ( $('.areaSlider .sliderTooltip').width() / 2 );
        $('.areaSlider .sliderTooltip').css('left', areaSliderLeft);

        $('.volume .btn-round-right').click(function() {
            var currentVal = parseInt($(this).siblings('input').val());
            if (currentVal < 10) {
                $(this).siblings('input').val(currentVal + 1);
            }
        });
        $('.volume .btn-round-left').click(function() {
            var currentVal = parseInt($(this).siblings('input').val());
            if (currentVal > 1) {
                $(this).siblings('input').val(currentVal - 1);
            }
        });

        $('.handleFilter').click(function() {
            $('.filterForm').slideToggle(200);
        });

        //Enable swiping
        $(".carousel-inner").swipe( {
            swipeLeft:function(event, direction, distance, duration, fingerCount) {
                $(this).parent().carousel('next');
            },
            swipeRight: function() {
                $(this).parent().carousel('prev');
            }
        });

        $(".carousel-inner .card").click(function() {
            window.open($(this).attr('data-linkto'), '_self');
        });

        $('#content').scroll(function() {
            if ($('.comments').length > 0) {
                var visible = $('.comments').visible(true);
                if (visible) {
                    $('.commentsFormWrapper').addClass('active');
                } else {
                    $('.commentsFormWrapper').removeClass('active');
                }
            }
        });

        $('.btn').click(function() {
            if ($(this).is('[data-toggle-class]')) {
                $(this).toggleClass('active ' + $(this).attr('data-toggle-class'));
            }
        });

        $('.tabsWidget .tab-scroll').slimScroll({
            height: '235px',
            size: '5px',
            position: 'right',
            color: '#939393',
            alwaysVisible: false,
            distance: '5px',
            railVisible: false,
            railColor: '#222',
            railOpacity: 0.3,
            wheelStep: 10,
            allowPageScroll: true,
            disableFadeOut: false
        });

        $('.progress-bar[data-toggle="tooltip"]').tooltip();
        $('.tooltipsContainer .btn').tooltip();

        $("#slider1").slider({
            range: "min",
            value: 50,
            min: 1,
            max: 100,
            slide: repositionTooltip,
            stop: repositionTooltip
        });
        $("#slider1 .ui-slider-handle:first").tooltip({ title: $("#slider1").slider("value"), trigger: "manual"}).tooltip("show");

        $("#slider2").slider({
            range: "max",
            value: 70,
            min: 1,
            max: 100,
            slide: repositionTooltip,
            stop: repositionTooltip
        });
        $("#slider2 .ui-slider-handle:first").tooltip({ title: $("#slider2").slider("value"), trigger: "manual"}).tooltip("show");

        $("#slider3").slider({
            range: true,
            min: 0,
            max: 500,
            values: [ 190, 350 ],
            slide: repositionTooltip,
            stop: repositionTooltip
        });
        $("#slider3 .ui-slider-handle:first").tooltip({ title: $("#slider3").slider("values", 0), trigger: "manual"}).tooltip("show");
        $("#slider3 .ui-slider-handle:last").tooltip({ title: $("#slider3").slider("values", 1), trigger: "manual"}).tooltip("show");

        $('#autocomplete').autocomplete({
            source: ["ActionScript", "AppleScript", "Asp", "BASIC", "C", "C++", "Clojure", "COBOL", "ColdFusion", "Erlang", "Fortran", "Groovy", "Haskell", "Java", "JavaScript", "Lisp", "Perl", "PHP", "Python", "Ruby", "Scala", "Scheme"],
            focus: function (event, ui) {
                var label = ui.item.label;
                var value = ui.item.value;
                var me = $(this);
                setTimeout(function() {
                    me.val(value);
                }, 1);
            }
        });

        $('#tags').tagsInput({
            'height': 'auto',
            'width': '100%',
            'defaultText': 'Add a tag',
        });

        $('#datepicker').datepicker();

        // functionality for autocomplete address field
        if ($('#address').length > 0) {
            var address = document.getElementById('address');
            var addressAuto = new google.maps.places.Autocomplete(address);

            google.maps.event.addListener(addressAuto, 'place_changed', function() {
                var place = addressAuto.getPlace();

                if (!place.geometry) {
                    return;
                }
                if (place.geometry.viewport) {
                    map.fitBounds(place.geometry.viewport);
                } else {
                    map.setCenter(place.geometry.location);
                }
                newMarker.setPosition(place.geometry.location);
                newMarker.setVisible(true);
                $('#latitude').text(newMarker.getPosition().lat());
                $('#longitude').text(newMarker.getPosition().lng());

                return false;
            });
        }

        $('input, textarea').placeholder();
        </script>
    </body>
</html>
