.home-nav ul li a{
  font-size: 16px;
  text-transform: uppercase;
}

@media (max-width:768px){
  .home-nav ul li a{
    font-size: 10px !important;
  }
}


.osLight{
  font-family: Maven Pro;
}

*{
  font-family: Maven Pro;
}

.home-caption{
  top:230px;
}

.propWidget-2 .fig img{
  height:240px;
}

.propWidget-1 .fig img{
  height:230px;
}

.propWidget-1 .fig .figCap h3{
  /*margin-bottom:10px;*/
}
.blur{
  height:240px;
}

.agent-img{
  border: 2px solid grey;
}

#wrapper{

  left:0;
  margin-left:0;
}

.slide-img{
  width:100%;
  height:420px !important;
}

.highlight, .btn-green{
  background:#808080;
}

.s-icon{
  color:rgb(145, 150, 147);
}
h2.s-main{
  color:rgb(145, 150, 147);
}

.btn-green:hover{
  background:#333 !important;
}
 .btn-green:visited{
   background:#808080;
 }

 .btn-green:focus{
  background:#808080;
 }

.s-menu-item:hover{
  background:#397491 !important;
}

.wrap-right{
  top:-20px;
  right:0;
  position: absolute;
}

.big-price{
  font-size:22px;
  font-weight:400;
}

.twitter{
  font-size:16px;
  text-align: center;
}

.social-icons-black{
  color:grey !important;
}

.logo{
  background-color: rgb(145, 150, 147);
}

.icon-wrap{
  float:right;
  margin-top:15px;
  margin-right:15px;
}

.agent-avatar{
  border-radius:0;
  border:1px solid grey;
}

.agent-avatar img, .ring{
  width:200px !important;
  height:200px !important;
  border-radius:0 !important;
}

.font22{
  font-size:22px;
}

.font16{
  font-size:16px;
}

.pc-avatar img{
  width: 150px !important;
  height: 150px !important;
}

.features{
  margin-top:30px !important;
}

.h-text{
  padding:10px;
  font-size:18px;
  line-height: 23px;
}

.borders{
  border-right:1px solid white;
  border-left:1px solid white;
}

.btn-icon.btn-sm{
    width:38px;
    height:38px;
    padding-top:9px;
}

.btn-icon.btn-sm span.fa{
  font-size:20px;
}

.home-nav ul li:last-child{
  padding-top:9px;
}

.carousel-inner > .item > img.home-testim-avatar{
  border:1px solid grey;
}

.propWidget-1{
  margin:20px;
}

.home-content{
  max-width:1350px;
  margin:auto;
}

.contact-form{
  margin-top:300px;
  min-height:600px;
  padding:100px;
}

.grey{
  color: rgb(100,100,100);
}

.fat-hr{
  border: none;
  height: 3px;
  width: 60px;
  margin: 30px 0;
  background: #e6eaed;
  display: block;
}

.home-hr{
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  margin-bottom:15px;
  background:#c6e4e3;
}

.video-js{
  margin:auto;width:80% !important;
  height:250px !important;
  max-width:400px;
}

.vjs-poster{
  background-size:cover !important;
}
.singleTop ul.features{
  margin-bottom:20px;
}
.singleTop ul.features li{
  width:25%;
}

h1.pageTitle{
  font-size:24px;
}

.singleTop .address{
  font-size:18px;
  font-weight:600;
  color:rgb(100,100,100);
  margin-top:5px;
}

#content h3{
  font-size:19px;
}

.description p{
  font-size:18px;
}

.amItem{
  font-size:18px;
}

.agentAvatar .contactBtn{
  margin-bottom:10px;
  margin-top:20px;

}

.summaryItem{
  margin-bottom:0px;
}

.cap{ text-transform: capitalize; }


.green-text{
  color:#0eaaa6;
}

.yellow-text{
  color:#eab134;
}

.red-text{
  color:#ea3d36;
}
